h1 {
    text-align: center;
    color: darkcyan;
}

p {
    font-size: 20px;
}

.container {
    margin-bottom: 20px;
    /* border: 1px solid #333; */
    padding: 10px;
}

/* Display: block */
.block-container div {
    display: block;
    width: 150px;
    height: 100px;
    background-color: #ffc107;
    margin: 5px 0;
}

/* Display: inline */
.inline-container div {
    display: inline;
    width: 150px;
    /* Ignored for inline elements */
    height: 100px;
    /* Ignored for inline elements */
    background-color: #ffc107;
    margin: 5px;
    padding: 10px;
}

/* Display: flex */
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.flex-container div {
    width: 150px;
    height: 100px;
    background-color: #ffc107;
    margin: 5px;
}

/* Box-sizing */
.box-sizing-container div {
    width: 150px;
    height: 100px;
    margin: 10px;
    border: 5px solid #333;
    padding: 10px;
    background-color: #ffc107;
}

.content-box div {
    box-sizing: content-box;
}

.border-box div {
    box-sizing: border-box;
}